# Exploratory Data Analysis

In this notebook we'll do some exploratory data analysis over our dataset. However, since we don't have our features created yet, we cannot do much at this point. In addition, when we create them, we won't be able to extract many insights because of the nature of text-based features. For this reason, only a shallow analysis will be done at this point.

For the plots we have used `seaborn` and `altair`. `altair` is a package which allows us to plot graphics with a simple grammar as we would do in ggplot2 or Tableau. It also provides easy-to-make interactive plots. For further information please visit the project site: https://altair-viz.github.io/.

To install it, please type this command in the shell:

`! conda install -c conda-forge altair vega_datasets notebook vega`

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle
# import seaborn as sns
# sns.set_style("whitegrid")
# import altair as alt
# alt.renderers.enable("notebook")

# Code for hiding seaborn warnings
import warnings
warnings.filterwarnings("ignore")

Loading the dataset:

In [4]:
df = pd.read_excel("data.xlsx")

In [5]:
df.to_csv("sail.csv", index = False)

In [6]:
df.head()

,Tender Title,Label,Tender No and date,Plant/Unit,Tender issue date and time,Bid Submission Closing date and Time,Remarks,Label_Code
0,Procurement of water treatment chemicals for 4...,raw_materials,000000001738 Dt. 17/01/2020,IISCO Steel Plant,Feb 18 2020 5:00:00:000PM,Mar 25 2020 12:00:00:000PM,Corr,5
1,SPARES FOR ROD MILL LINER,hardware,003/215/1902000911/500006763/01/00,Rourkela Steel Plant,Jan 8 2020 8:00:00:000PM,May 21 2020 4:00:00:000PM,Corr,2
2,"SPARES FOR OVEN INTERLOCKING SYSTEM OF COB-1,3...",hardware,003/340/1902000406/01/00/500006867 dated 21.01...,Rourkela Steel Plant,Feb 26 2020 7:00:00:000PM,Mar 26 2020 4:00:00:000PM,Corr,2
3,ORIFICE FLOW METER FOR RAW WATER RISING MAIN,hardware,003/530/1902002486/01/00/500006927 DTD.20.02.2020,Rourkela Steel Plant,Feb 20 2020 8:00:00:000PM,Apr 20 2020 4:00:00:000PM,Corr,2
4,"FIRE FIGHTG ENSEMBLE SET (JACKET,TROUSER,BOOT,...",none,004/007/1848000076/02/00/500006945 DATED:05.0...,Rourkela Steel Plant,Apr 29 2020 4:00:00:000PM,May 20 2020 4:00:00:000PM,Corr,4

In [7]:
df.drop(["Remarks"], axis = 1, inplace = True)

In [8]:
df.Label.value_counts()

skilled_manpower            246
none                        165
unskilled_manpower           94
raw_materials                88
hardware                     46
vehicle/equipment_hiring     42
machine                      35
electronics                  23
Name: Label, dtype: int64

In [9]:
df.shape

(739, 7)

In [10]:
df.isnull().sum()

Tender Title                            5
Label                                   0
Tender No and date                      0
Plant/Unit                              0
Tender issue date and time              0
Bid Submission Closing date and Time    0
Label_Code                              0
dtype: int64

In [11]:
df = df[pd.notnull(df['Tender Title'])]

In [12]:
df.isnull().sum()

Tender Title                            0
Label                                   0
Tender No and date                      0
Plant/Unit                              0
Tender issue date and time              0
Bid Submission Closing date and Time    0
Label_Code                              0
dtype: int64

In [13]:
df.shape

(734, 7)

### Number of articles in each category

In [14]:
# bars = alt.Chart(df).mark_bar(size=50).encode(
#     x=alt.X("Label"),
#     y=alt.Y("count():Q", axis=alt.Axis(title='Number of examples')),
#     tooltip=[alt.Tooltip('count()', title='Number of examples'), 'Label'],
#     color='Label'

# )

# text = bars.mark_text(
#     align='center',
#     baseline='bottom',
# ).encode(
#     text='count()'
# )

# (bars + text).interactive().properties(
#     height=300, 
#     width=700,
#     title = "Number of examples in each category",
# )

### % of articles in each category

In [15]:
# df['id'] = 1
# df2 = pd.DataFrame(df.groupby('Classification').count()['id']).reset_index()

# bars = alt.Chart(df2).mark_bar(size=50).encode(
#     x=alt.X('Label'),
#     y=alt.Y('PercentOfTotal:Q', axis=alt.Axis(format='.0%', title='% of Clauses')),
#     color='Label'
# ).transform_window(
#     TotalArticles='sum(id)',
#     frame=[None, None]
# ).transform_calculate(
#     PercentOfTotal="datum.id / datum.TotalArticles"
# )

# text = bars.mark_text(
#     align='center',
#     baseline='bottom',
#     #dx=5  # Nudges text to right so it doesn't appear on top of the bar
# ).encode(
#     text=alt.Text('PercentOfTotal:Q', format='.1%')
# )

# (bars + text).interactive().properties(
#     height=300, 
#     width=700,
#     title = "% of Clauses in each category",
# )

### News length by category

Definition of news length field. Although there are special characters in the text (``\r, \n``), it will be useful as an approximation.

In [16]:
# df['Clause_length'] = df['Clause'].str.len()

In [17]:
# plt.figure(figsize=(12.8,6))
# sns.distplot(df['Clause_length']).set_title('Clause length distribution');

In [18]:
# df['Clause_length'].describe()

Let's remove from the 95% percentile onwards to better appreciate the histogram:

In [19]:
# quantile_95 = df['Clause_length'].quantile(0.95)
# df_95 = df[df['Clause_length'] < quantile_95]

In [20]:
# plt.figure(figsize=(12.8,6))
# sns.distplot(df_95['Clause_length']).set_title('Clause length distribution');

We can get the number of news articles with more than 10,000 characters:

In [21]:
# df_more10k = df[df['News_length'] > 10000]
# len(df_more10k)

Let's see one:

In [22]:
# df_more10k['Content'].iloc[0]

It's just a large news article.

Let's now plot a boxplot:

In [23]:
# plt.figure(figsize=(12.8,6))
# sns.boxplot(data=df, x='Label', y='Clause_length', width=.5);

Now, let's remove the larger documents for better comprehension:

In [24]:
# plt.figure(figsize=(12.8,6))
# sns.boxplot(data=df_95, x='Category', y='News_length');

We can see that, although the length distribution is different for every category, the difference is not too big. If we had way too different lengths between categories we would have a problem since the feature creation process may take into account counts of words. However, when creating the features with TF-IDF scoring, we will normalize the features just to avoid this.

At this point, we cannot do further Exploratory Data Analysis. We'll turn onto the **Feature Engineering** section.

We'll save the dataset:

In [25]:
with open('Contract_dataset.pickle', 'wb') as output:
    pickle.dump(df, output)